body{
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    font-family: sans-serif,arial,helvetica;
}

header {
    background-color: #006600;
    width: 100%;
    height: 120px;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 10px;
    color: white;
}

.pheader {
    font-size: 20px;
}

.homemain {
    background-color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    overflow: hidden;
}

.homeheader {
    background-color: #006600;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-left: 7%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 50px;
    color:white;
}

.bar {
    background-color: #006600;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 15px;
    color: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.content {
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid;
    border-color: #006600;
    border-width: 1px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.btn {
    font-size: 16px;
    padding: 7px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 10px;
    background-color: #339900;
    color: white;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.btn2 {
    font-size: 16px;
    padding: 7px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 10px;
    background-color: white;
    color: white;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 150px;
    color: black;
}

.btn3 {
    font-size: 16px;
    padding: 7px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 10px;
    background-color: white;
    color: white;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 350px;
    color: black;
}

.remove {
    font-size: 16px;
    padding: 7px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 10px;
    background-color: red;
    color: white;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 100px;
    color: white;
}

.remove:hover {
    background-color: #ff9999;
    color: black;
}

.match {
    font-size: 16px;
    padding: 7px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 10px;
    background-color: white;
    color: white;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 250px;
    color: black;
}

.btn:hover {
    background-color: #99cc66;
    color: black;
}

.inputa {
    width: 300px;
    font-size: 16px;
    padding: 5px;
    margin: 10px;
}

.inputb {
    width: 20%;
    font-size: 16px;
    padding: 5px;
    margin: 10px;
    margin-right: 0;
}

.selecta {
    width: 20%;
    font-size: 16px;
    padding: 5px;
    margin: 10px;
    margin-right: 0;
}

.inscore {
    width: 5%;
    font-size: 16px;
    padding: 5px;
    margin: 10px;
    margin-right: 0;
}

.editing {
        
}

a {
    text-decoration: none;
    color: inherit;
}

nav ul {
    background-color: #006600;
    overflow: hidden;
    color: white;
    padding-left: 15%;
    padding-right: 15%;
    margin: 0;
}

nav ul li{
    display: inline-block;
    padding: 10px;
    color: white;
}

nav ul li:hover{
    background-color: #CCE0CC;
    color: 	#002900;
}

section {
    padding-left: 15%;
    padding-right: 15%;
}