<div class="homemain">
    <div class="homeheader">
        TWOJA BAZA WYNIKÓW!   
    </div>
    
    <div class="bar">
        DODAJ KATEGORIĘ
    </div>
    <div class ='content'>
        <div>
            <input class="inputa" type="text" placeholder="Nazwa"/>
            <buton typ="submit" class="btn">Dodaj</buton>
            <buton typ="submit" class="btn">Edytuj kategorie</buton>
        </div>
        <div style="background-color: #006600; margin-top: 10px; padding: 5px; padding-left: 15px; color:white ">
            Aktualne kategorie    
        </div>
    </div>
    
    <div class="bar">
        DODAJ ZAKŁADKĘ
    </div>
    <div class ='content'>
        <div>
            <input class="inputb" type="text" placeholder="Gospodarze"/>
            <input class="inputb" type="text" placeholder="Goście"/>
            <select class="selecta"></select></select>
            <input class="inscore" type="text"/>
            <input class="inscore" type="text"/ style="margin-right:10px">
            <buton typ="submit" class="btn">Dodaj</buton>
        </div>
    </div>
</div>