<div class="homemain">
    <div class="homeheader">
        TWOJA BAZA WYNIKÓW!   
    </div>
    
    <div class="bar">
        DODAJ KATEGORIĘ
    </div>
    <div class ='content'>
        
        <div>
            <form role="form">
                <input class="inputa" type="text" placeholder="Nazwa" ng-model="category.name"/>
                <button type="submit" class="btn" ng-click="addCategory(category)">Dodaj</button>
                <button type="submit" class="btn" ng-click="showEditCategory = !showEditCategory">Edytuj kategorie</button>
            </form>
        </div>
        <div ng-show="showEditCategory" style="background-color: #006600; margin-top: 10px; padding: 5px; padding-left: 15px; color:white ">
            Aktualne kategorie    
        </div>
        <div ng-show="showEditCategory" style="margin-top: 10px; padding: 5px; padding-left: 15px">
            <table>
                <tbody>
                    <tr ng-repeat="category in categories">
                           <td><button class="btn2" ng-model="category.name"/>{{category.name}}</td>
                           <td>
                               <button class="btn" ng-click="removeCategory(category)">Usuń</button>
                           </td>
                       </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="bar">
        DODAJ ZAKŁADKĘ
    </div>
    <div class ='content'>
        <div>
            <input class="inputb" type="text" placeholder="Gospodarze" ng-model="bookmark.hometeam"/>
            <input class="inputb" type="text" placeholder="Goście" ng-model="bookmark.guest"/>
            <select class="selecta" ng-model="bookmark.categoryname" ng-options="category.name as category.name for category in categories"></select>
            <input class="inscore" type="number" ng-model="bookmark.hscore"/>
            <input class="inscore" type="number" ng-model="bookmark.gscore" style="margin-right:10px">
            <button type="submit" class="btn" ng-click="addBookmark(bookmark)">Dodaj</button>
        </div>
    </div>
</div>